.terminal-base {
    height: 50vh !important;
    min-height: 0vh !important;
    max-width: 2000px !important;
}

.terminal-base > div > div {
    max-width: 2000px !important;
    overflow-x: hidden !important;
}